# Dependências
node_modules/
yarn.lock
package-lock.json

# Arquivos de build
dist/
build/

# Arquivos de ambiente
.env
.env.*
!.env.example

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo

# Testing
src/__tests__/
coverage/

# Temporary files
tmp/
temp/

# Debug
.debug/

# Docker
docker-volume-data


